
&list {
    @include rem('margin-bottom', 60px);

    .list {
        list-style: none;
        border-top: solid $color-light-gray 1px;

        > li {
            position: relative;
            border-bottom: solid $color-light-gray 1px;

            &.active {
                a {
                    font-family: $FrutigerLTStd-Bold;
                    color: $color-blue;
                }
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                background: url('../images/chevron-black.svg') no-repeat top left;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                height: 12px;
                width: 7px;
            }

            &.active {

                > a {
                    background-color: transparent;
                }
            }

            > a {
                display: block;
                @include font-size(1.4);
                line-height: 2.29;
                @include rem('padding', 4px 15px 3px);
                color: $color-black;

                span {
                    font-size: 12px;
                    display: block;
                    color: $color-dark-gray;
                }

                &:hover {
                    color: $color-red;

                    span {
                        color: $color-red;
                    }
                }
            }

            &:hover {
                &:after {
                    background: url('../images/chevron-red.svg') no-repeat top left;
                }
            }
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    &list {
        @include rem('margin-bottom', 50px);

        .list {

            > li {

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    background: url('../images/chevron-black.svg') no-repeat top left;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    height: 12px;
                    width: 7px;
                }

                > a {
                    @include font-size(1.6);
                    line-height: 2;
                    @include rem('padding', 8px 15px 9px);
                }

            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}