
&youtube {
    position: relative;
    @include rem('margin-bottom', 60px);
    color: $color-white;

    .chapeau {
        display: block;
        float: left;
        position: relative;
        background-color: $color-black;
        color: $color-white;
        @include font-size(1.4);
        line-height: 1;
        @include rem('padding', 10px 0 6px 15px);
        margin: 0;
        border: 0;

        &:after {
            content: '';
            position: absolute;
            height: 30px;
            width: 30px;
            top: 0;
            right: -30px;
            background: url('../images/skew-black.svg') no-repeat top left;
        }
    }

    > .homepage-initiative-wrapper,
    > .video-wrapper {
        clear: both;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */

        > iframe {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    > div {

        > header {
            @include rem('margin-bottom', 6px);

            h2 {
                margin-bottom: 0;
            }
        }
    } 

    > .video-wrapper + div {
        background-color: $color-blue;
        @include rem('padding', 20px 20px 30px);
    }
    .initiative-logos-wrapper {
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        display: -webkit-flex; /* Safari */
        -webkit-justify-content: space-around; /* Safari 6.1+ */
        background-color: #f2f2f2;
        padding: 0;
        height: 369px;
        a {
            position: relative;
            z-index: 9;
        }
        &::after {
            content: "";
            display: block;
            width: 190px;
            height: 100%;
            left: 50%;
            position: absolute;
            opacity: .07;
            background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
            transform: skewx(-13deg);
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    &youtube {
        @include rem('margin-bottom', 50px);

        > div {

            > header {
                @include rem('margin-bottom', 2px);

                h2 {
                    //font-family: $FrutigerLTStd-LightCn;
                    @include font-size(2.4);
                }
            }
        } 

        > .video-wrapper + div {
            @include rem('padding', 25px 20px);
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}