<div class="component-content">
    <!--<a class="anchor" id="route" name="route" data-name="Route"></a>
    <header>
        <span class="chapeau">Cras commodo lacinia</span>
        <h2>Route</h2>
    </header>-->
    <img src="/photos/landscape_1.jpg" class="img-responsive" />
</div>

<div class="component-content">
    <!--<a class="anchor" id="route" name="route" data-name="Route"></a>-->
    <header>
        <!--<span class="chapeau">Cras commodo lacinia</span>-->
        <h2>Openingstijden</h2>
    </header>
    <table>
        <tr>
            <td>Maandag</td>
            <td>07:30 - 20:00</td>
        </tr>
        <tr>
            <td>Dinsdag</td>
            <td>07:30 - 20:00</td>
        </tr>
        <tr>
            <td>Woensdag</td>
            <td>07:30 - 20:00</td>
        </tr>
        <tr>
            <td>Donderdag</td>
            <td>07:30 - 20:00</td>
        </tr>
        <tr>
            <td>Vrijdag</td>
            <td>07:30 - 20:00</td>
        </tr>
        <tr>
            <td>Zaterdag</td>
            <td>Gesloten</td>
        </tr>
        <tr>
            <td>Zondag</td>
            <td>Gesloten</td>
        </tr>
    </table>
</div>