<div class="component-content">
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla 
        luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
    <h4>Vakken jaar 2</h4>
    <table>
        <tr>
            <td>Blok 1</td>
            <td>Naam vak 1, Naam vak 2, Naam vak 3, Naam vak 4, Naam vak 5, Naam vak 6, Naam vak 7, Naam vak 8</td>
        </tr>
        <tr>
            <td>Blok 2</td>
            <td>Naam vak 1, Naam vak 2, Naam vak 3, Naam vak 4, Naam vak 5, Naam vak 6, Naam vak 7, Naam vak 8</td>
        </tr>
        <tr>
            <td>Blok 3</td>
            <td>Naam vak 1, Naam vak 2, Naam vak 3, Naam vak 4, Naam vak 5, Naam vak 6, Naam vak 7, Naam vak 8</td>
        </tr>
        <tr>
            <td>Blok 4</td>
            <td>Naam vak 1, Naam vak 2, Naam vak 3, Naam vak 4, Naam vak 5, Naam vak 6, Naam vak 7, Naam vak 8</td>
        </tr>
    </table>
</div>