<div class="component-content">
    <a class="anchor" id="route" name="route" data-name="Route"></a>
    <header>
        <!--<span class="chapeau">Cras commodo lacinia</span>-->
        <h2>Route</h2>
    </header>
    <h4>Openbaar vervoer</h4>
    <p>Avans Academie ligt pal naast NS station ’s-Hertogenbosch. Aenean euismod bibendum laoreet. Proin gravida dolor 
        sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.<br>
     Bereken je reistijd via <a href="#">9292</a>.</p>
    <h4>Auto</h4>
    <p>U kunt via <a href="#">Google Maps</a> uw route berekenen. Parkeren kan in de garage onder het gebouw. Proin gravida dolor sit 
        amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
</div>