<div class="component-content">
    <a class="anchor" id="quisque-maximus-turpis" name="quisque-maximus-turpis" data-name="Maximus turpis"></a>
    <header>
        <span class="chapeau">Etiam ipsum orci</span>
        <h2>Quisque maximus turpis</h2>
    </header>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor 
        sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus 
        et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis 
        tellus mollis orci, sed rhoncus sapien nunc eget.</p>
    <p>Phasellus imperdiet aliquam est in facilisis. Fusce vestibulum consectetur dolor, et ullamcorper mi consequat
        sed. Pellentesque a nulla viverra, sodales lacus at, varius felis. Vivamus magna turpis, gravida sollicitudin
        hendrerit nec, feugiat vel odio. Cras commodo lacinia sem, sit amet congue risus efficitur non.</p>
    <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus 
        et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis 
        tellus mollis orci, sed rhoncus sapien nunc eget.</p>
    <ul class="checked-list">
        <li>Voordeel 1</li>
        <li>Voordeel 2</li>
        <li>Voordeel 3</li>
        <li>Voordeel 4</li>
    </ul>
</div>