<div class="component-content">
    <a class="anchor" id="nunc-at-eleifend-sapien" name="nunc-at-eleifend-sapien" data-name="Eleifend sapien"></a>
    <header>
        <span class="chapeau">Nulla non pellentesque</span>
        <h2>Nunc at eleifend sapien</h2>
    </header>
    <div class="row">
        <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida 
                dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis 
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus 
                pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
        </div>
        <div class="col-sm-6">
            <h4>Voorbeelden van beroepen na je studie:</h4>
            <ul>
                <li>Online marketing specialist bij een webwinkel</li>
                <li>Sales manager bij een winkel</li>
                <li>Planner bij een mediabureau</li>
                <li>Traffic manager bij een digitale start-up</li>
            </ul>
        </div>
    </div>
</div>