
@@if (ad === true) {
    <div class="col-md-4">
        <div class="niveau-container ad">
}
@@if (ad === false) {
    <div class="col-md-4 hidden-xs hidden-sm">
        <div class="niveau-container">
}
            <h3>@@title</h3>
            <span class="type">@@type</span>
            <p>
                <span class="niveau">@@level</span>
                <span class="duur">@@duration</span>
            </p>
            <p class="kenmerk">Je verbindt vakmanschap met operatie en strategie.</p>
            <p class="kenmerk">Je past theorieën uit jouw vakgebied toe op praktische vraagstukken.</p>
            <p class="kenmerk">Je werkt onder begeleiding aan complexe taken en stuurt een operationeel team aan.</p>
            <p class="kenmerk">Je communiceert over je taken en weet wat die bijdragen aan de doelen van de organisatie.</p>
        </div>
    </div>