<div class="component-hero event" data-image="/photos/study_hero.jpg" data-image-xs="/photos/study_hero_xs.jpg">
    <div class="container">
        <div class="row banner">
            <div class="col-xs-5 col-sm-4"></div>
            <div class="col-xs-7 col-sm-8"></div>
        </div>
        <div class="row text">
            <div class="col-xs-12 col-md-4">
                <header>
                    @@include('../svg/open-avond.svg')
                    <h1>Open avond</h1>
                    <p>10 april 2017, 18:30 - 21:30</p>
                    <a href="#" class="btn btn-primary">Aanmelden</a>
                </header>
            </div>
        </div>
    </div>
</div>