<div class="component-facilities">
    <a class="anchor" id="faciliteiten" name="faciliteiten" data-name="Faciliteiten"></a>
    <header>
        <!--<span class="chapeau">Cras commodo lacinia</span>-->
        <h2>Faciliteiten</h2>
    </header>
    <div class="row cards">

        @@include('./_facility.html', {"title": "Kantine", "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod...", "image": "/photos/landscape_2.jpg"})
        @@include('./_facility.html', {"title": "Collegezaal", "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod...", "image": "/photos/landscape_3.jpg"})
        @@include('./_facility.html', {"title": "Mediatheek", "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod...", "image": "/photos/landscape_4.jpg"})
        
    </div>
</div>