<div class="component-hero" data-image="/photos/study_hero.jpg" data-image-xs="/photos/study_hero_xs.jpg">
    <div class="container">
        <div class="row banner">
            <div class="col-xs-5 col-sm-4">
                <p>@@introduction</p>
            </div>
            <div class="col-xs-7 col-sm-8">

            </div>
        </div>
        <div class="row text">
            <div class="col-xs-12 col-md-4">
                <header>
                    <h1>@@title</h1>
                    <p>@@subTitle</p>
                </header>
                <div>
                    <a href="#" class="btn btn-primary">Ontdek de opleiding</a>
                    <ul class="link-list white">
                        <li><a href="#">Open avond: 10 april</a></li>
                        <li><a href="#">Aanmelden</a></li>
                    </ul>

                </div>
            </div>
            <a href="#" class="scrolldown"></a>
        </div>
    </div>
</div>