<div class="component-hero" data-image="/photos/home_hero.jpg" data-image-xs="/photos/home_hero.jpg">
    <div class="container">
        <div class="row banner">
            <div class="col-xs-5 col-sm-6">
            </div>
            <div class="col-xs-7 col-sm-6">
            </div>
        </div>
        <div class="row text">
            <div class="col-xs-12 col-md-6">
                <header>
                    <h1>@@title</h1>
                    <p>@@subTitle</p>
                    <a href="#" class="btn btn-primary scrollpast">Ontdek de opleiding</a>
                </header>
                <a href="#" class="event-link">
                    <h2>Open avond</h2>
                    <p>10 april, ’s-Hertogenbosch</p>
                    <ul class="link-list white">
                        <li><span>Meer informatie</span></li>
                    </ul>
                </a>
            </div>
            <a href="#" class="scrolldown"></a>
        </div>
    </div>
</div>