<div class="component-youtube">
    <!--<a class="anchor" id="associate-degree" name="associate-degree" class="anchor" data-name="Associate degree"></a>-->
    <span class="chapeau">Een initiatief van</span>
    <div class="video-wrapper initiative-logos-wrapper">
    <a href="http://www.avans.nl/" target="_blank">
        <img src="http://placehold.it/162x48" alt="Avans Hogeschool">
    </a>
    <a href="https://hz.nl/" target="_blank">
        <img src="http://placehold.it/188x48" alt="University of applied sciences">
    </a>
    </div>
    <div>
        <header>
            <h2>Associate degree opleidingen in ’s-Hertogenbosch</h2>
        </header>
        <ul class="link-list white">
            <li><a href="#">Alle verschillen tussen mbo 4, hbo associate degree en hbo bachelor</a></li>
        </ul>
    </div>
</div>