<div class="component-list">
    <a class="anchor" id="quisque-maximus-turpis" name="quisque-maximus-turpis" class="anchor" data-name="Maximus turpis"></a>
    <header>
        <span class="chapeau">Etiam ipsum orci</span>
        <h2>Quisque maximus turpis</h2>
    </header>
    <ul class="list">
        <li><a href="#">Proin in nibh just<span>subtitel</span></a></li>
        <li><a href="#">Quisque gravida est tortor<span>subtitel</span></a></li>
        <li><a href="#">Morbi ut est leo<span>subtitel</span></a></li>
        <li><a href="#">Quisque gravida est<span>subtitel</span></a></li>
        <li><a href="#">Morbi molestie lorem at enim<span>subtitel</span></a></li>
        <li><a href="#">Phasellus finibus ornare<span>subtitel</span></a></li>
        <li><a href="#">Duis rhoncus arcu at dui rutrum<span>subtitel</span></a></li>
    </ul>
</div>