<div class="component-list">
    <a class="anchor" id="quisque-maximus-turpis" name="quisque-maximus-turpis" class="anchor" data-name="Maximus turpis"></a>
    <header>
        <span class="chapeau">Etiam ipsum orci</span>
        <h2>Quisque maximus turpis</h2>
    </header>
    <div class="list-title">
        Kies een interessegebied
    </div>
    <ul class="list">
        <li><a href="#">Proin in nibh just</a></li>
        <li><a href="#">Quisque gravida est tortor</a></li>
        <li><a href="#">Morbi ut est leo</a></li>
        <li><a href="#">Quisque gravida est</a></li>
        <li><a href="#">Morbi molestie lorem at enim</a></li>
        <li><a href="#">Phasellus finibus ornare</a></li>
        <li><a href="#">Duis rhoncus arcu at dui rutrum</a></li>
    </ul>
</div>