<div class="component-hero location">
    <div id="googlemap"></div>
    <div class="container">
        <div class="row banner">
            <div class="col-xs-5 col-sm-4">
                <p>Hier ga je studeren</p>
            </div>
            <div class="col-xs-7 col-sm-8">

            </div>
        </div>
        <div class="row text">
            <div class="col-xs-12 col-md-4">
                <header>
                    <h1>Locatie en facaliteiten</h1>
                </header>
                <div>
                    <p><strong>Avans Academie</strong><br>
                        Stationsplein 50<br>
                        's-Hertogenbosch
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>