<div class="component-overview">
    @@if (introduction !== '') {
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-7">
            @@introduction
        </div>
    </div>
    }
    <div class="row cards">
        <div class="col-sm-4 component-filters">
            <div class="toggle-filter visible-xs">
                <a href="#" class="show-filter-button" onclick="false">
                    Toon filters 
                    <i class="arrow down"></i>
                </a>

                <a href="#" class="delete-filter-button">
                    Verwijder filters
                </a>
            </div>
            <form action="#" class="education-filters">
                <div class="filters-title">Interessegebieden</div>
                <label>
                    <input name="interessegebied" type="checkbox" value="aarde-en-milieu">
                    <span>
                        Aarde en Milieu
                    </span>
                </label>
                <label>
                    <input name="interessegebied" type="checkbox" value="economie-en-bedrijf">
                    <span>
                        Economie en Bedrijf
                    </span>
                </label>
                <label>
                    <input name="interessegebied" type="checkbox" value="exact-en-informatica">
                    <span>
                        Exact en Informatica
                    </span>
                </label>
                <label>
                    <input name="interessegebied" type="checkbox" value="gedrag-en-maatschappij">
                    <span>
                        Gedrag en Maatschappij
                    </span>
                </label>
                <label>
                    <input name="interessegebied" type="checkbox" value="gezondheid">
                    <span>
                        Gezondheid
                    </span>
                </label>
                <label>
                    <input name="interessegebied" type="checkbox" value="kunst-en-cultuur">
                    <span>
                        Kunst en Cultuur
                    </span>
                </label>
                <label>
                    <input name="interessegebied" type="checkbox" value="onderwijs-en-opvoeding">
                    <span>
                        Onderwijs en Opvoeding
                    </span>
                </label>
                <label>
                    <input name="interessegebied" type="checkbox" value="recht-en-bestuur">
                    <span>
                        Recht en Bestuur
                    </span>
                </label>
                <label>
                    <input name="interessegebied" type="checkbox" value="taal-en-communicatie">
                    <span>
                        Taal en Communicatie
                    </span>
                </label>
                <label>
                    <input name="interessegebied" type="checkbox" value="techniek">
                    <span>
                        Techniek
                    </span>
                </label>
            </form>
        </div>
        <div class="col-sm-8">
            <div class="row">
                @@include('./_study.html', {"title": "Finance", "subtitle": "Ad Accountancy", "filterClasses": "show-all accountancy"})
                @@include('./_study.html', {"title": "Business", "subtitle": "Ad Bedrijfskunde", "filterClasses": "show-all bedrijfskunde"})
                @@include('./_study.html', {"title": "Communicatie", "subtitle": "Ad Communicatie", "filterClasses": "show-all communicatie"})
                @@include('./_study.html', {"title": "Human Resource Management", "subtitle": "Ad HRM", "filterClasses": "show-all hrm"})
                @@include('./_study.html', {"title": "ICT", "subtitle": "Ad Informatica", "filterClasses": "show-all informatica"})
                @@include('./_study.html', {"title": "Marketing", "subtitle": "Ad Marketing Management", "filterClasses": "show-all management"})
                @@include('./_study.html', {"title": "Ondernemen", "subtitle": "Ad Small Business en Retail Management", "filterClasses": "show-all sbrm"})
            </div>
        </div>
    </div>
</div>