<div class="component-slider">
    <div class="slider">
        <div class="skew-container">
            <div class="slide">
                <figure class="slide-img">
                    <img src="/photos/landscape_2.jpg" alt="Blup blup">
                    <figcaption><strong>Yevgeni Sallisis</strong> Branching out</figcaption>
                </figure>
            </div>

            <div class="slide">
                <figure class="slide-img">
                    <img src="/photos/landscape_1.jpg" alt="Blup blup">
                    <figcaption><strong>Yevgeni Sallisis</strong> Branching out</figcaption>
                </figure>
            </div>

            <div class="slide">
                <figure class="slide-img">
                    <img src="/photos/landscape_3.jpg" alt="Blup blup">
                    <figcaption><strong>Yevgeni Sallisis</strong> Branching out</figcaption>
                </figure>
            </div>

            <div class="slide">
                <figure class="slide-img">
                    <img src="/photos/landscape_4.jpg" alt="Blup blup">
                    <figcaption><strong>Yevgeni Sallisis</strong> Branching out</figcaption>
                </figure>
            </div>

            <div class="slide">
                <figure class="slide-img">
                    <img src="/photos/landscape_6.jpg" alt="Blup blup">
                    <figcaption><strong>Yevgeni Sallisis</strong> Branching out</figcaption>
                </figure>
            </div>

            <div class="slide">
                <figure class="slide-img">
                    <img src="/photos/landscape_8.jpg" alt="Blup blup">
                    <figcaption><strong>Yevgeni Sallisis</strong> Branching out</figcaption>
                </figure>
            </div>

            <div class="slide">
                <figure class="slide-img">
                    <img src="/photos/landscape_7.jpg" alt="Blup blup">
                    <figcaption><strong>Yevgeni Sallisis</strong> Branching out</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="slider-controls">
        <a href=# class="ctrl-prev"><span>Prev</span></a> 
        <a href=# class="ctrl-next"><span>Next</span></a>
    </div>
</div>

