<div class="component-social">
    <span>Deel:</span>
    <ul class="social-list">
        <li class="social-whatsapp"><a href="#" title="What's App'">@@include('../svg/social-whatsapp.svg')</a></li>
        <li class="social-facebook"><a href="#" title="Facebook">@@include('../svg/social-facebook.svg')</a></li>
        <li class="social-twitter"><a href="#" title="Twitter">@@include('../svg/social-twitter.svg')</a></li>
        <li class="social-linkedin"><a href="#" title="LinkedIn">@@include('../svg/social-linkedin.svg')</a></li>
        <li class="social-email"><a href="#" title="E-mail">@@include('../svg/social-email.svg')</a></li>
    </ul>
</div>