<div class="component-social round @@class">
    <ul class="social-list">
        <li><a href="#" title="Facebook">@@include('../svg/social-round-facebook.svg')</a></li>
        <li><a href="#" title="Instagram">@@include('../svg/social-round-instagram.svg')</a></li>
        <li><a href="#" title="Twitter">@@include('../svg/social-round-twitter.svg')</a></li>
        <li><a href="#" title="LinkedIn">@@include('../svg/social-round-linkedin.svg')</a></li>
        <li><a href="#" title="YouTube">@@include('../svg/social-round-youtube.svg')</a></li>
    </ul>
</div>