<div class="row streamer__row">
    <div id="streamer-carousel" class="owl-carousel owl-theme streamer__carousel">
        <div class="streamer__item" style="background-image: url('/photos/portrait_1.jpg')">
            <div class="streamer__skew"></div>

            <div class="streamer__text">
                <div class="streamer__type">
                    <span>Nieuws</span>
                </div>
                <div class="streamer__title">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </div>
            </div>

            <a class="streamer__read-more" href="#">
                <span>Lees verder</span>
            </a>
        </div>

        <div class="streamer__item" style="background-image: url('/photos/portrait_1.jpg')">
            <div class="streamer__skew"> </div>

            <div class="streamer__text">
                <div class="streamer__type">
                    <span>Nieuws</span>
                </div>
                <div class="streamer__title">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </div>

            <a class="streamer__read-more" href="#">
                <span>Lees verder</span>
            </a>
        </div>
    </div>
</div>