<div class="component-youtube">
    <!--<a class="anchor" id="associate-degree" name="associate-degree" class="anchor" data-name="Associate degree"></a>-->
    <span class="chapeau">Bekijk de video</span>
    <div class="video-wrapper">
        <div class="video" data-video="M7lc1UVf-VE"></div>
    </div>
    <div>
        <header>
            <h2>Associate degree opleidingen in ’s-Hertogenbosch</h2>
        </header>
        <ul class="link-list white">
            <li><a href="#">Alle verschillen tussen mbo 4, hbo associate degree en hbo bachelor</a></li>
        </ul>
    </div>
</div>